i.facebook{
    content: url(simpleIcons('facebook'));
}
i.github{
    content: url(simpleIcons('github'));
}
i.twitter{
    content: url(simpleIcons('twitter'));
}
i.stackoverflow{
    content: url(simpleIcons('stackoverflow'));
}
