    %top-bar {
        //@include offScreen;
        //margin-top: 60px;
        text-align: center;
        @include media(">tablet") {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(map-get($colors, darkBackground), .95);
            height: 5vh;
            min-height: 3rem;
        }
        div {
            &.left {
                //background-color: red;
                &,
                a {
                    color: map-get($map: $colors, $key: lightText4darkBackground);
                }
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                @include media(">tablet") {
                    position: absolute;
                    top: 15px;
                    left: 10px;
                }
            }
            &.right {
                @include navButtonDark;
                background-color: map-get($map: $colors, $key: accent1);
                &:hover {
                    background-color: lighten($color: map-get($map: $colors, $key: accent1), $amount:5);
                }
                @include media(">tablet") {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                }
            }
        }
    }